@font-face {
  font-family: W95FA;
  src: url(fonts/W95FA.otf) format('opentype');
}

body {
  background-color: ##1b000b;
  color: #FFFFFF;
  font-family: W95FA
}

h1 {
  padding-top: 16px;
  text-align: center;
}
