@font-face {
  font-family: W95FA;
  src: url(fonts/W95FA.otf) format('opentype');
}

html {
	color: white;
	font-family: W95FA;
	padding:16px 10%;
	background-color: #1b000b;
}

.center {
    text-align: center;
}


h1 {
    text-align: center;
	padding: 8px;
}

p.mars80 {
  margin-right: 80%;
}


.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

a img {
  display: block;
}

/*linking it ohh im linking it*/
a:link {
    color: #69aaee;
}

a:visited {
    color: #aa87ee;
}

a:hover {
    color: #b00bbb;
}

a:active {
    color: #ba0000;
}
