@font-face {
  font-family: W95FA;
  src: url(fonts/W95FA.otf) format('opentype');
}

html {
  color: white;
  font-family: W95FA;
  padding: 10%
}

body {
  background-color: #1b000b;
	border-style: solid;
	padding: 8%;
}


body.


h1 {
  padding-top: 16px;
  text-align: center;
}


a:link {
  color: #69aaee;
}

a:visited {
  color: #aa87ee;
}

a:active {
  color: #ba0000;
}
